= partial :head

%body
	.container
		= partial :header

		#main.content_container
			#content        
				%section#home.text-centered
					%h1 I'm Awesome :)

				%section#contact.text-centered
					%h1 Contact &amp; Connect...
					%ul#media_icons.nomargin.nopadding
						%li#facebook
							%a{:href => "http://www.facebook.com/zmoolla"}
								%img{:alt => "Facebook", :src => "http://assets.zaahir.ca/img/facebook.png"}/
						%li#twitter
							%a{:href => "http://www.twitter.com/zmoolla"}
								%img{:alt => "Twitter", :src => "http://assets.zaahir.ca/img/twitter.png"}/
						%li#google-plus
							%a{:href => "http://plus.google.com/105644640455090064317"}
								%img{:alt => "Google Plus", :src => "http://assets.zaahir.ca/img/google-plus.png"}
						%li#linkedin
							%a{:href => "http://www.linkedin.com/in/zmoolla"}
								%img{:alt => "LinkedIn", :src => "http://assets.zaahir.ca/img/linkedin.png"}
						%li#flickr
							%a{:href => "http://www.flickr.com/photos/zaahir"}
								%img{:alt => "Flickr", :src => "http://assets.zaahir.ca/img/flickr.png"}
						%li#youtube
							%a{:href => "http://www.youtube.com/Moollaman"}
								%img{:alt => "Youtube", :src => "http://assets.zaahir.ca/img/youtube.png"}
						%li#forrst
							%a{:href => "http://forrst.me/moollaza"}
								%img{:alt => "Forrst", :src => "http://assets.zaahir.ca/img/forrst.png"}
						%li#github
							%a{:href => "http://www.github.com/moollaza"}
								%img{:alt => "Github", :src => "http://assets.zaahir.ca/img/github.png"}

				%section#about
					%h1 About Me
					%p
						Hi, my name is Zaahir, nice to meet you! I'm currently an undergrad studying Business Informatics (Computer Science &amp; Business) at McMaster University in Hamilton, Ontario, Canada.
						%br/
						%br/
						In my spare time, I love to sing &amp; play guitar as well as hack around, working on apps and my startup ideas.
						%br/
						%br/
						If you'd like to talk, feel free to send me an
						= succeed "," do
							%a{:href => "mailto:info@zaahir.ca"} email
						you can also check out my
						%a{:href => "/resume"} resume
						and my
						= succeed "." do
							%a{:href => "/portfolio"} portfolio

		%nav#menu.text-centered
			%a#home_button.inline-block.btn.btn-link HOME
			%p.inline-block -
			%a#contact_button.inline-block.btn.btn-link CONTACT
			%p.inline-block -
			%a#about_button.inline-block.btn.btn-link ABOUT
			
	= partial :footer